.section-select {
  @include flex(column, center, center);
  font-size: $font-size-medium;
  font-family: $font-base;
  font-style: italic;
  text-transform: uppercase;
  background-image: url("../images/bg-select.png");
  background-size: cover;
  height: 380px;

  &__heading {
    color: $color-green-1;
    font-size: 34px;
    font-weight: $font-weight-boldest;
    margin-bottom: 20px;
  }

  &__parap {
    color: $color-grey-light-2;
    font-size: 30px;
    font-weight: $font-weight-medium;
    margin-bottom: 29px;
  }

  .dropdown {
    position: relative;
    margin: 0 auto;
    width: 420px;
    height: 45px;
    color: $color-grey-light-2;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    text-transform: capitalize;
    background: rgba($color: $color-blue-2, $alpha: 0.3);
    opacity: 0.8;
    border: 1px solid $color-blue-1;
    border-radius: 4px;

    &__title {
      display: flex;
      justify-content: space-between;
      line-height: 44px;
      padding: 0 14px;
      cursor: pointer;
    }

    &__icon {
      align-self: center;
      font-size: 27px;
    }

    &__list {
      z-index: -1;
      transition: all 0.4s ease-in-out;
      transform: translateY(-120px);
      pointer-events: none;
      opacity: 0;

      &.show {
        pointer-events: initial;
        transform: translateY(0);
        opacity: 1;
      }
    }

    &__item {
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: rgba($color: $color-blue-2, $alpha: 0.7);
      opacity: 0.8;
      border: 1px solid $color-blue-1;
      border-top: 0;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        background: rgba($color: $color-blue-2, $alpha: 1);
        color: $color-white;
      }
    }
  }
}
