.section-select {
  @include flex(column, center, center);
  font-size: $font-size-medium;
  font-family: $font-base;
  font-style: italic;
  text-transform: uppercase;
  background-image: url("../images/bg-select.png");
  background-size: cover;
  height: 380px;

  &__heading {
    color: $color-green-1;
    font-size: 34px;
    font-weight: $font-weight-boldest;
    margin-bottom: 20px;
  }

  &__parap {
    color: $color-grey-light-2;
    font-size: 30px;
    font-weight: $font-weight-medium;
    margin-bottom: 29px;
  }
}
