.facility
  .container
    .facility__logo
      img(src="images/new-gym-facility-logo.png", alt="")
    .facility__title
      h3 facility
      h5.facility__title-secondary Opening hours: 24 hours/ 7 days a week
    .facility__body
      .facility__list
        .facility__item
          i.icon.icon-park &#xe80a;
          span.facility__text Free parking lot
        .facility__item
          i.icon.icon-wash &#xe809;
          span.facility__text Free hot/cold shower
        .facility__item.facility__last
          i.icon.icon-weight &#xe808;
          span.facility__text Free Water
        .facility__item.facility__last
          i.icon.icon-hot &#xe804;
          span.facility__text Air-con available
      .facility__list
        .facility__item
          i.icon.icon-dumbbell &#xe807;
          span.facility__text 42.5 kilogram dummbbells
        .facility__item
          i.icon.icon-plus-100 &#xe806;
          span.facility__text 100+ classess
        .facility__item.facility__last
          i.icon.icon-machine &#xe805;
          span.facility__text 200+ bits of kit
        .facility__item.facility__last
          i.icon.icon-wifi &#xe80b;
          span.facility__text Wifi Free