.section-fee
    .container
      .section-fee__top
        .section-fee__tab-nav
          button.js-tablinks.section-fee__tab-btn.active(data-tab="js-monthly") Monthly
          button.js-tablinks.section-fee__tab-btn(data-tab="js-fixed-term") Fixed term
          button.js-tablinks.section-fee__tab-btn(data-tab="js-day-pass") Day pass
        .section-fee__tab-contten
          #js-monthly.section-fee__monthly.row
            .section-fee__three.col-4.col-sm-6
              .card-fee
                p.card-fee__title 3 month
                .card-fee__icon
                  i.fa.fa-shower
                  i.fa.fa-address-book
                  i.fa.fa-wifi
                  i.fa.fa-bolt
                  i.fa.fa-shower
                .card-fee__des
                  .card-fee__des__title Package of 03 months
                  .card-fee__des__item
                    .card-fee__des__text Cost
                    p.card-fee__des__number 1.900.000đ
                  .card-fee__des__item No additional joining free
                  .card-fee__des__item Convenient one time payment
                button.card-fee__btn
                  span Chose
                  i.fa.fa-check(aria-hidden='true')
            .section-fee__six.col-4.col-sm-6
              .card-fee
                p.card-fee__title 3 month
                .card-fee__icon
                  i.fa.fa-shower
                  i.fa.fa-address-book
                  i.fa.fa-wifi
                  i.fa.fa-bolt
                  i.fa.fa-shower
                .card-fee__des
                  .card-fee__des__title Package of 03 months
                  .card-fee__des__item
                    .card-fee__des__text Cost
                    p.card-fee__des__number 1.900.000đ
                  .card-fee__des__item No additional joining free
                  .card-fee__des__item Convenient one time payment
                button.card-fee__btn
                  span Chose
                  i.fa.fa-check(aria-hidden='true')
            .section-fee__twele.col-4.col-sm-6
              .card-fee
                p.card-fee__title 3 month
                .card-fee__icon
                  i.fa.fa-shower
                  i.fa.fa-address-book
                  i.fa.fa-wifi
                  i.fa.fa-bolt
                  i.fa.fa-shower
                .card-fee__des
                  .card-fee__des__title Package of 03 months
                  .card-fee__des__item
                    .card-fee__des__text Cost
                    p.card-fee__des__number 1.900.000đ
                  .card-fee__des__item No additional joining free
                  .card-fee__des__item Convenient one time payment
                button.card-fee__btn
                  span Chose
                  i.fa.fa-check(aria-hidden='true')
          #js-fixed-term
          #js-day-pass
      .section-fee__bottom
        p asdasdadalskmdlasjn