.section-promotion
  .container
    .row
      .section-promotion__slide.col-12.col-md-6
        .section-promotion__slide-wrap
          .section-promotion__infomation
            h3.section-promotion__title PROMOTION
            span.section-promotion__decription More friends More Fun
            p.section-promotion__pra The New Gym believes that all people should have access to the power of fitness. We aim to provide a great value-for-money fitness experience that is affordable and flexible for both novice and athlete….
            button.section-promotion__button 
              | VIEW DETAIL
              i.fas.fa-angle-double-right
          .section-promotion__infomation
            h3.section-promotion__title PROMOTION
            span.section-promotion__decription More friends More Fun
            p.section-promotion__pra The New Gym believes that all people should have access to the power of fitness. We aim to provide a great value-for-money fitness experience that is affordable and flexible for both novice and athlete….
            button.section-promotion__button 
              | VIEW DETAIL
              i.fas.fa-angle-double-right
        .section-promotion__arrow
      .section-promotion__adv.col-12.offset-1.col-md-5
        img.section-promotion__img-main(src="images/img-adv-promotion.png", alt="")
        img.section-promotion__icon(src="images/icon-newgym.png", alt="")
        img.section-promotion__rectangle(src="images/icon-rectangle.png", alt="")
