.section-quality
  .container
    .section-quality__tab
      ul.nav.nav-pills
        li.nav-item
          a.section-quality__tab.nav-link.active(data-toggle='pill' href='#home') Monthly
        li.nav-item
          a.section-quality__tab.nav-link(data-toggle='pill' href='#menu1') Fixed term
        li.nav-item
          a.section-quality__tab.nav-link(data-toggle='pill' href='#menu2') Day pass
      // Tab panes
      .tab-content
        #home.tab-pane.container.active
          .section-fee
            #js-monthly.section-fee__monthly.row
              .section-fee__three.col-12.col-lg-4
                .card-fee
                  p.card-fee__title 3 month
                  .card-fee__icon
                    i.fa.fa-shower
                    i.fa.fa-address-book
                    i.fa.fa-wifi
                    i.fa.fa-bolt
                    i.fa.fa-shower
                  .card-fee__des
                    .card-fee__des__title Package of 03 months
                    .card-fee__des__item
                      .card-fee__des__text Cost
                      p.card-fee__des__number 1.900.000đ
                    .card-fee__des__item No additional joining free
                    .card-fee__des__item Convenient one time payment
                  button.card-fee__btn
                    span Chose
                    i.fa.fa-check(aria-hidden='true')
              .section-fee__six.col-12.col-lg-4.mt-3.mt-lg-0
                .card-fee
                  p.card-fee__title 6 month
                  .card-fee__icon
                    i.fa.fa-shower
                    i.fa.fa-address-book
                    i.fa.fa-wifi
                    i.fa.fa-bolt
                    i.fa.fa-shower
                  .card-fee__des
                    .card-fee__des__title Package of 06 months
                    .card-fee__des__item
                      .card-fee__des__text Cost
                      p.card-fee__des__number 2.100.000đ
                    .card-fee__des__item No additional joining free
                    .card-fee__des__item Convenient one time payment
                  button.card-fee__btn
                    span Chose
                    i.fa.fa-check(aria-hidden='true')
              .section-fee__twele.col-12.col-lg-4.mt-3.mt-lg-0
                .card-fee
                  p.card-fee__title 12 month
                  .card-fee__icon
                    i.fa.fa-shower
                    i.fa.fa-address-book
                    i.fa.fa-wifi
                    i.fa.fa-bolt
                    i.fa.fa-shower
                  .card-fee__des
                    .card-fee__des__title Package of 12 months
                    .card-fee__des__item
                      .card-fee__des__text Cost
                      p.card-fee__des__number 3.600.000đ
                    .card-fee__des__item No additional joining free
                    .card-fee__des__item Convenient one time payment
                  button.card-fee__btn
                    span Chose
                    i.fa.fa-check(aria-hidden='true')
        #menu1.tab-pane.container.fade 2
        #menu2.tab-pane.container.fade 3
    .section-quality__title
      h3 Range of high quality equipments
    .section-quality__slide
      .section-quality__item
        .row
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-1.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-2.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-3.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-4.png", alt="")
      .section-quality__item
        .row
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-1.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-2.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-3.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-4.png", alt="")
      .section-quality__item
        .row
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-1.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-2.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-3.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-4.png", alt="")
      .section-quality__item
        .row
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-1.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-2.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-3.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-4.png", alt="")
      .section-quality__item
        .row
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-1.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-2.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-3.png", alt="")
          .col-lg-3.col-6.section-quality__item-sub
            .section-quality__thumb
              img(src="images/slide-4.png", alt="")