include ./wrap-result

.secsion-result
  .container
    .secsion-result__wrap
      .secsion-result__top
        p.secsion-result__title workout results
        p.secsion-result__different Before &amp; after
      .secsion-result__slide
        .secsion-result__slider-wrap.js-section-result.row
          +wrapResult(25, 'Lose Fat')
          +wrapResult(28, 'Lose Fat')
          +wrapResult(40, 'Lose Fat')
          +wrapResult(25, 'Lose Fat')
          +wrapResult(28, 'Lose Fat')
          +wrapResult(40, 'Lose Fat')
