include ./result

.secsion-result
  .container
    .secsion-result__wrap
      .secsion-result__top
        p.secsion-result__title workout results
        p.secsion-result__different Before & after
        .secsion-result__info
          span.secsion-result__label Age:  
          span.secsion-result__value 26
        .secsion-result__info
          span.secsion-result__lable Target:  
          span.secsion-result__value  Lose Fat
      .secsion-result__slide
        .secsion-result__slider-wrap.js-section-result.row
          - for (var i = 0; i < 6; i++)
            +result('images/bitmap.png', 'Before', '58kg', '16kg', '37%')
            +result('images/bitmapafter1.png', 'After', '58kg', '16kg', '37%')