section.section-select
  h3.section-select__heading gym room
  p.section-select__parap let's get started
  div.section-select__dropdown.dropdown
    p.dropdown__title.js-dropdown Vui lòng chọn Club
      i.fas.fa-angle-down.dropdown__icon
    ul.dropdown__list
      li.dropdown__item Da Nang
      li.dropdown__item Quang Nam
      li.dropdown__item Ho chi minh
