
include ../dropdown

section.section-select
  h3.section-select__heading gym room
  p.section-select__parap let's get started
  +dropdown(['The New Gym - Hoang Van Thu','The New Gym - Au Co', 'The New Gym - Quang Trung', 'The New Gym - Hoang Van Thu 02'])
