.header__slider.slider
    div.slider__item(style=`background-image: url("images/bg-slider-3.png");`)
      .slider__content
        div.slider__heading
          div.slider__heading-time open 24/7
          div.slider__heading-price 300k/ month
          div.slider__heading-info no
            div.slider__heading-info--green contract
        .slider__button-group
          +button('slider__button slider__button--larger', 'register trail','fa fa-angle-double-right')
          +button('slider__button', 'join now')
    div.slider__item(style=`background-image: url("images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("images/bg-slider.png");`)