.header__slider.slider
    div.slider__item(style=`background-image: url("../images/bg-slider-3.png");`)
      .slider__content
        h3.slider__heading
          p.slider__heading-line open 24/7
          p.slider__heading-line 300k/ month
          p.slider__heading-line no 
            span.slider__heading-line--green contract
        .slider__button-group
          +button('slider__button slider__button--larger', 'register trail','fa fa-angle-double-right')
          +button('slider__button', 'join now')
    div.slider__item(style=`background-image: url("../images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("../images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("../images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("../images/bg-slider-3.png");`)
    div.slider__item(style=`background-image: url("../images/bg-slider.png");`)