.section-equiment {
  margin-bottom: 30px;
  &__wrap {
    .nav {
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      &-item {
        background-color: transparent;
        color: #f36f31;
        padding: 0;
        width: 25%;
        // &:nth-child(4n + 1):last-child {
        //   flex: auto;
        // }
        @include media-breakpoint-down(md) {
          // flex: calc(100% / 2);
        }

        @include media-breakpoint-down(xs) {
          flex: 100%;
        }
      }

      &-link {
        position: relative;
        display: inline-block;
        margin-bottom: 12px;
        color: #6b6b6b;
        font-size: 18px;
        padding: 0.5rem 0;

        @include media-breakpoint-down(lg) {
          font-size: 15px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #f36f31;
          transform: translateX(-50%);
          transition: all 0.3s linear;
        }
        &.active {
          color: #f36f31;
          background-color: transparent;
          &::before {
            width: 100%;
          }
        }

        &:hover {
          color: #f36f31;
          &::before {
            width: 100%;
          }
        }
      }
    }

    .tab-content {
      margin-top: 15px;
    }
  }

  &__item {
    margin-bottom: 33px;
  }
}
