.item-slide {
  .gallery-item {
    display: flex;
  }

  &__img {
    margin: 0 auto;
    transition: box-shadow 200ms;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  &__control {
    .mfp {
      &-close {
        display: block;
        @include size(36px);
        top: calc(50% - 142px);
        right: calc(50% - 175px);
        color: #000;
        text-indent: -10em;
        border-radius: 50%;
        background-color: #fff;
        transform-origin: center center;
        transform: translate(40px, -40px) rotate(45deg);

        @include media-breakpoint-down(xs) {
          @include size(30px);
          right: 50%;
          transform: translate(50%, -45px) rotate(45deg);
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: currentColor;
          transform-origin: center center;
        }
        &:before {
          width: 17px;
          height: 3px;
          transform: translate(-50%, -50%);
        }

        &:after {
          width: 3px;
          height: 17px;
          transform: translate(-50%, -50%);
        }
      }

      &-img {
        padding: 0;
        outline: 5px solid rgba(255, 255, 255, 0.3);
        outline-offset: -5px;
      }

      &-arrow {
        &-left {
          left: calc(50% - 265px);

          @include media-breakpoint-down(xs) {
            left: 0;
          }

          &:before {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(45deg);
            border: 0;
          }

          &:after {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(-45deg) translateX(-9px);
            opacity: 0.7;
            border: 0;
          }
        }

        &-right {
          right: calc(50% - 290px);

          @include media-breakpoint-down(xs) {
            right: 0;
          }

          &:before {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(-45deg);
            border: 0;

            @include media-breakpoint-down(xs) {
              transform: rotateZ(45deg) translate(34px, -23px);
            }
          }

          &:after {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(45deg) translate(2px, 7px);
            opacity: 0.7;
            border: 0;

            @include media-breakpoint-down(xs) {
              transform: rotateZ(-45deg) translate(36px, 15px);
            }
          }
        }
      }
    }
  }

  &__button {
    @include size(100px, 100px);
    background-color: transparent;
    touch-action: manipulation;

    i {
      color: #fff;
      font-size: 30px;
      opacity: 0.5;
    }
  }
}
