.item-slide {
  &__img {
    transition: box-shadow 200ms;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  &__control {
    .mfp {
      &-close {
        width: 38px;
        height: 38px;
        // top: calc(50% - 264px);
        // right: calc(50% - 375px);
        top: calc(50% - 142px);
        right: calc(50% - 175px);
        background-color: #fff;
        transform: translate(45px, -40px);
        color: #000;
        border-radius: 50%;

        @include media-breakpoint-down(xs) {
          right: 50%;
          transform: translate(50%, -45px);
        }
      }

      &-img {
        padding: 0;
        outline: 5px solid rgba(255, 255, 255, 0.3);
        outline-offset: -5px;
      }

      &-arrow {
        &-left {
          // left: calc(50% - 455px);
          left: calc(50% - 265px);

          @include media-breakpoint-down(xs) {
            // display: none;
            left: 0;
          }

          &:before {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(45deg);
            border: 0;
          }

          &:after {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(-45deg) translateX(-9px);
            opacity: 0.7;
            border: 0;
          }
        }

        &-right {
          // right: calc(50% - 484px);
          right: calc(50% - 290px);

          @include media-breakpoint-down(xs) {
            right: 0;
          }

          &:before {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(-45deg);
            border: 0;

            @include media-breakpoint-down(xs) {
              transform: rotateZ(45deg) translate(34px, -23px);
            }
          }

          &:after {
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
            transform: rotateZ(45deg) translate(2px, 7px);
            opacity: 0.7;
            border: 0;

            @include media-breakpoint-down(xs) {
              transform: rotateZ(-45deg) translate(36px, 15px);
            }
          }
        }
      }
    }
  }

  &__button {
    @include size(100px, 100px);
    background-color: transparent;
    touch-action: manipulation;

    i {
      color: #fff;
      font-size: 30px;
      opacity: 0.5;
    }
  }
}
