.dropdown {
  @include flex(column, null, center);
  font-family: $font-base;
  font-style: italic;

  @include maxWidth(575.98px) {
    width: 80%;
  }

  &__heading {
    margin-bottom: 17px;
    color: $color-white;
    align-self: flex-start;
    font-size: $font-size-large;

    @include maxWidth(575.98px) {
      align-self: center;
    }
  }

  &__content {
    position: relative;
    margin: 0 auto;
    width: 420px;
    height: 45px;
    color: $color-grey-light-2;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    text-transform: capitalize;
    border: 1px solid $color-blue-1;
    border-radius: 4px;

    @include maxWidth(575.98px) {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-light;
    line-height: 44px;
    padding: 0 14px;
    cursor: pointer;
    background: rgba($color: $color-blue-1, $alpha: 0.3);
  }

  &__icon {
    align-self: center;
    font-size: 27px;
  }

  &__list {
    position: relative;
    z-index: 10;
    transition: all 0.4s ease-in-out;
    transform: translateY(-120px);
    pointer-events: none;
    opacity: 0;

    &.show {
      pointer-events: initial;
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__item {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $color-white;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid $color-blue-1;
    border-top: 0;
    background: rgba($color: $color-blue-3, $alpha: 0.8);
    transition: all 0.25s linear;

    &:hover {
      background: rgba($color: $color-orange-1, $alpha: 1);
    }
  }
}
