.facility {
  position: relative;
  background-color: $color-blue-3;

  &__logo {
    position: absolute;
    right: 0;

    @include media-breakpoint-down(xs) {
      @include centerPosition("top");
    }
  }

  &__title {
    text-align: center;
    padding-top: 73px;
    margin-bottom: 63px;
    text-transform: uppercase;

    h3 {
      margin-bottom: 8px;
      color: $color-green-1;
      font-weight: $font-weight-boldest;
      font-size: 34px;
      line-height: 41px;
    }

    span {
      color: $color-white;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__body {
    padding-bottom: 150px;

    @include media-breakpoint-down(md) {
      padding-bottom: 108px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 70px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      margin-bottom: 63px;
    }
  }

  &__item {
    flex: calc(100% / 4);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media-breakpoint-down(xs) {
      flex: calc(100% / 2);
    }

    &:hover > i {
      color: $color-orange-3;
    }

    i {
      color: $color-green-1;
      font-size: 50px;
      transition: color 200ms;

      &.icon-plus-100 {
        font-size: 35px;
        height: 50px;
      }
    }
  }

  &__last {
    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }

  &__text {
    display: block;
    margin-top: 18px;
    color: $color-white;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }
}
