.section-fee {
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__top {
    z-index: 4;
  }

  &__monthly {
    display: flex;
    justify-content: space-between;
  }

  .card-fee {
    font-family: $font-base;
    padding: 30px 50px;
    border-radius: 13px;
    text-align: center;
    background: #f2f2f2;
    color: #858585;
    transition: background-color 0.2s linear, box-shadow 0.3s linear;

    @include maxWidth(1191.98px) {
      padding: 30px;
    }
    @include maxWidth(991.98px) {
      padding: 15px;
    }
    @include maxWidth(767.98px) {
      padding: 30px;
    }

    &:hover {
      position: relative;
      z-index: 2;
      background-color: #a0cb02;
      box-shadow: 0 0 0 8px #a0cb02, 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
      color: #ffffff;

      .card-fee__btn {
        background-color: #ffffff;
        color: #6b6b6b;
      }
    }

    &__title {
      margin-top: 16px;
      margin-bottom: 19px;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      // line-height: 48px;
      text-align: center;
      text-transform: uppercase;

      @include maxWidth(991.98px) {
        font-size: 30px;
        margin-bottom: 15px;
      }
      @include maxWidth(767.98px) {
        font-size: 40px;
        margin-bottom: 15px;
      }
    }

    &__icon {
      margin-bottom: 55px;

      @include maxWidth(1199.98px) {
        margin-bottom: 40px;
      }
      i {
        font-size: 20px;
        display: inline-block;
        margin: 0 6px;
      }
    }

    &__des {
      font-style: italic;
      margin-bottom: 28px;

      &-number {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }

      &-title {
        text-align: left;
        margin-bottom: 32px;
        font-style: italic;
        font-weight: 500;
        font-size: 19px;
      }

      &-item {
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 2px;
        justify-content: space-between;
        border-bottom: 1px dashed #858585;
      }

      &-text {
        text-align: left;

        @include maxWidth(991.98px) {
          font-size: 14px;
        }
        @include maxWidth(767.98px) {
          font-size: 16px;
        }
      }
    }

    &__btn {
      margin: 0 auto;
      width: 146px;
      background: #d5d4d4;
    }
  }

  &__three,
  &__six,
  &__twele {
    padding-left: 2px;
    padding-right: 2px;
  }
}
