.secsion-result {
  font-style: italic;

  &__wrap {
    text-align: center;
    padding: 72px 0;
  }

  &__top {
    margin-bottom: 19px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #a6cf0f;
  }

  &__different {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;

    color: #6b6b6b;
  }

  &__info {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #6b6b6b;
    opacity: 0.9;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__lable {
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
  }

  &__value {
    font-weight: 600;
    font-size: 18px;
  }

  &__item {
    color: #f36f31;

    &:nth-child(2n) {
      color: #00a6d9;
    }
  }

  &__item-wrap {
    display: flex;
    padding: 4px;
    border: 1px solid #a4a4a4;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      align-items: center;
    }
  }

  &__img {
    @include media-breakpoint-down(lg) {
      width: 40%;
    }
    @include media-breakpoint-down(md) {
      width: auto;
    }
    @include media-breakpoint-down(sm) {
      width: 50%;
    }
    @include media-breakpoint-down(xs) {
      width: 40%;
    }
  }
  &__content {
    flex: 1;
    padding: 28px 25px 0 21px;
    text-align: left;

    @include media-breakpoint-down(lg) {
      padding-top: 0;
    }
    @include media-breakpoint-down(md) {
      padding-top: 28px;
    }
    @include media-breakpoint-down(xs) {
      padding: 0 10px;
    }
  }
  &__heading {
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 23px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
      font-size: 20px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 26px;
      font-size: 23px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 9px 0;
    border-bottom: 1px dashed #979797;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
      padding: 5px 0;
    }
  }

  &__text {
    margin-bottom: 0;
    padding-right: 37px;
    max-width: 172px;
    font-weight: 400;
    font-size: 17px;
    color: #6b6b6b;
    opacity: 0.9;
    @include media-breakpoint-down(lg) {
      font-size: 15px;
    }
    @include media-breakpoint-down(md) {
      font-size: 17px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 13px;
    }
  }

  &__number {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    mix-blend-mode: normal;
    opacity: 0.9;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 0 0 0;

    li {
      list-style-type: none;
    }

    li button {
      font-size: 0;
      border: 1px solid #a1a1a1;
      border-radius: 50px;
      width: 10px;
      height: 10px;
      background: #fff;
      margin: 0 8px;
    }

    li:hover,
    li button:hover {
      cursor: pointer;
      color: #f36f31;
    }

    .slick-prev:before,
    .slick-next:before {
      color: orange !important;
    }

    li.slick-active button {
      background: #f36f31 !important;
      border-color: #f36f31;
      @include size(14px);
    }
  }
}
