include ../components/button

footer
  .footer__wrapper
    .container
      .footer__top
        .footer__text
          span.footer__span Sign up to Newsletter
          span.footer__span GET A 10% OFF VOUCHER
        .footer__form
          input.footer__input(type="text", placeholder="Email or phone number…")
          +button('footer__button', 'submit', 'far fa-paper-plane')(type="submit") 
      .footer__bottom
        .footer__col
          h4.footer__title Contact
          .footer__wrap-info
            span.footer__text-add Add: 5th Floor, 431A Hoang Van Thu, Ward 4, Tan Binh District, HCM City
            span.footer__text-add Hotline: 1900636920
            span.footer__text-add Email: info@thenewgym.vn
            img.logo-confirm(src="images/confirm.png", alt="")
        .footer__col
          h4.footer__title About us
          ul.footer__list-info
            li
              a(href="#") Memberships options
            li
              a(href="#") Group X &amp; Yoga Classes
            li
              a(href="#") Equipment
            li
              a(href="#") Personal Trainer
        .footer__col
          h4.footer__title Corporate
          ul.footer__list-info
            li
              a(href="#") Property Info
            li
              a(href="#") Corporate Membership
            li
              a(href="#") Work with Us
            li
              .footer__wrap-logo
                img.logo-app(src="images/app-store.png", alt="")
                img.logo-app(src="images/google-play.png", alt="")
        .footer__col
          img(src="images/phone_footer.png", alt="")
  .footer__copyright
    .container
      .footer__copy-wrap
        .footer__copy-col
          span &copy; Copyright 2019 by
            a.link-home(href="#") THE NEW GYM
        .footer__copy-col
          img.icon-network(src="images/fb.png", alt="")
          img.icon-network(src="images/camera.png", alt="")
          img.icon-network(src="images/youtube.png", alt="")
        .footer__copy-col
          span Designed and Maintained by
          img.logo-footer(src="images/logo-footer.png", alt="")
