.container-fluid
  .nav
    .nav__switcher.container
      button.nav__lang en
      button.nav__lang vn
    .container.nav__content
      img.nav__logo(src='images/logo.png')
      ul.nav__list
        li.nav__list-item join now
        li.nav__list-item.active find a gym
        li.nav__list-item forgot pin
        li.nav__list-item carrers
        li.nav__list-item member login
      button.nav__login
        img.nav__icon(src='images/icon-user.png')
        span.nav__button login
      button.nav__menu
          img.nav__icon(src='images/icon-menu.png')