script(src="scripts/jquery.min.js")
script(src="scripts/slick.min.js")
script(src="scripts/boostrap.min.js")
script(src="scripts/popper.min.js")
<<<<<<< HEAD
script(src="scripts/main.js")


=======
script(src="scripts/magnific-popup.min.js")
script(src="scripts/main.js")
>>>>>>> 507cd5f4752661fc8a7ae6ab542a4932192b2f0a
