.item-yoga__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding: 6px;
  border: 1px solid #ababab; }

.item-yoga__image {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 18px; }

.item-yoga__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 13px; }

.item-yoga__title {
  margin-bottom: 14px;
  color: #00a6d9;
  font-size: 20px;
  font-weight: 600; }

.item-yoga__decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .item-yoga__decription .fa-map-marker-alt {
    color: #a6cf0f;
    font-size: 24px; }
  .item-yoga__decription-para {
    margin-left: 6px;
    color: #6b6b6b;
    font-size: 17px; }

.item-yoga__button {
  width: 100px;
  height: 45px;
  margin: auto 5px 6px auto; }
