include ./item-slide

mixin controlSide()
  .row
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/item-large.png")