include ./item-slide

mixin controlSide()
  .row
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-1.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-2.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-3.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-4.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-5.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-6.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-7.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-8.png")
    .section-equiment__item.col-lg-4.col-sm-6
      +itemSlide("images/equi-9.png")