mixin itemSlide(imgPath)
  .item-slide
    //- a.gallery-item(href=imgPath)
    //-   img.item-slide__img(src=imgPath, alt="")
    a.gallery-item(href=imgPath)
      img.item-slide__img(src=imgPath, alt="")