extends layout/page-home
include components/equipment/control-slide
include ./components/banner

block vars
  -title = 'New Gym'
  -bodyClass = 'home-page'

block container
  include ./components/breadcrumb
  +banner('Equipment', 'A gym in need is a gym indeed')
  section.section-equiment
    .container
      .section-equiment__wrap
        div.section-equiment__scroll
          ul.nav.nav-pills.row
            li.nav-item.col-lg-auto
              a.nav-link.active(data-toggle='pill' href='#menu1') The New Gym - Hoang Van Thu
            li.nav-item.col-lg-auto
              a.nav-link(data-toggle='pill' href='#menu2') The New Gym - Au Co
            li.nav-item.col-lg-auto
              a.nav-link(data-toggle='pill' href='#menu3') The New Gym - Quang Trung
            li.nav-item.col-lg-auto
              a.nav-link(data-toggle='pill' href='#menu4') The New Gym - Hoang Van Thu 02
            li.nav-item.col-lg-auto
              a.nav-link(data-toggle='pill' href='#menu1') The New Gym - Hoang Van Thu
            li.nav-item.col-lg-auto
              a.nav-link(data-toggle='pill' href='#menu2') The New Gym - Au Co
        .tab-content
          #menu1.tab-pane.active
            +controlSide()
          #menu2.tab-pane.fade
            +controlSide()
          #menu3.tab-pane.fade
            +controlSide()
          #menu4.tab-pane.fade
            +controlSide()
