extends layout/layout

block vars
  -title = 'New Gym'
  -bodyClass = 'home-page'

block container
  include components/home/select
  include components/quality
  include components/facility
  include components/promotion
  include components/workout
    