extends layout/page-orther
include components/button

block vars
  -title = 'New Gym'
  -bodyClass = 'home-page'

block container
  section.section-trainer
    .container
      .section-trainer__title
        h3.section-trainer__title-first PERSONAL TRAINER
        h4.section-trainer__title-second Personal Trainer at The New Gym
      .section-trainer__para.row
        .section-trainer__para-col-1
          p.section-trainer__para-first Whatever your fitness goals are, Training with our experienced personal trainers (PT) in The New Gym will be the most effective method to help you achieve your desire body.
        .section-trainer__para-col-1
          p.section-trainer__para-second Our special designed exercises and nutrition menu will surely fit your physical condition. Along with an passionate practice, transforming your body is just a story time.
      .section-trainer__item.row
        .section-trainer__item-image.col-lg-4.col-12
          img(src="images/equi-1.png", alt="")
        .section-trainer__item-image.col-lg-4.col-12
          img(src="images/equi-2.png", alt="")
        .section-trainer__item-image.col-lg-4.col-12
          img(src="images/equi-3.png", alt="")
      .section-trainer__contact
        +button("", "CONTACT US NOW", "fas fa-envelope")
