extends layout/page-home
include components/button
include components/result

block vars
  -title = 'New Gym'
  -bodyClass = 'home-page'

block container
  include ./components/breadcrumb
  include ./components/banner
  section.section-trainer
    .container
      .section-trainer__title
        h3.section-trainer__title-first PERSONAL TRAINER
        h4.section-trainer__title-second Personal Trainer at The New Gym
      .section-trainer__para.row
        .section-trainer__para-col-1
          p.section-trainer__para-first Whatever your fitness goals are, Training with our experienced personal trainers (PT) in The New Gym will be the most effective method to help you achieve your desire body.
        .section-trainer__para-col-1
          p.section-trainer__para-second Our special designed exercises and nutrition menu will surely fit your physical condition. Along with an passionate practice, transforming your body is just a story time.
      .section-trainer__item.row
        .section-trainer__item-image.col-lg-4.col-12.col-md-6
          img(src="images/equi-1.png", alt="")
        .section-trainer__item-image.col-lg-4.col-12.col-md-6
          img(src="images/equi-2.png", alt="")
        .section-trainer__item-image.col-lg-4.col-12.col-md-6
          img(src="images/equi-3.png", alt="")
      .section-trainer__contact
        +button("", "CONTACT US NOW", "fas fa-envelope")
  section.section-customer
    .container
      h1.section-customer__heading Don’t take our words for it, see our customers tranformation
      - for (var i = 0; i < 3; i++) 
          .section-customer__top
            .section-customer__info
              span.section-customer__label Age:  
              span.section-customer__value 26
            .section-customer__info
              span.section-customer__lable Target:  
              span.section-customer__value  Lose Fat
          .row
            +result('images/bitmap.png', 'Before', '58kg', '16kg', '37%').col-lg-6.section-customer__wrap
            +result('images/bitmapafter1.png', 'After', '58kg', '16kg', '37%').col-lg-6.section-customer__wrap
